
.container {
   flex: 0 1 1000px;
}

.row {
    display: flex;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 0.75rem;
    border: 1px solid black;
}